.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-stretch:expanded */
}

body {
  background-image: url('./images/bg-bottom.svg'),
    url('./images/bg-top.svg');
  background-repeat: no-repeat no-repeat;
  background-position: bottom left, top right;
  background-color: hsl(240, 78%, 98%);
}

.head {
  text-align: center;
  color: hsl(232, 13%, 33%);
  margin-top: 45px;
  font-weight: 800;
}

.switch {
  text-align: center;
  color: #92918e;
  margin-top: 40px;
}

#mySwitch {
  display: none;

}

#mswitch {
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: 50px;
  height: 26px;
  border-radius: 45px;
  margin: 0px 30px;
  position: relative;
  top: 8px;
}


#mswitch::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

#mySwitch:checked+#mswitch::before {
  left: 29px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.item {
  width: 300px;
  height: 450px;
  /* border: 2px solid black; */
  background-color: white;
  margin: 1px;
  border-radius: 10px;
  /* box-shadow:2px 2px 0px #666666; */
  box-shadow: 0 0 10px 10px rgba(224, 218, 218, 0.074);
}


.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.item2 {
  margin: 10px auto;
  color: rgb(119, 117, 117);
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(197, 194, 194);
  padding-bottom: 20px;
  font-size: small;
  width: 80%;
  text-align: center;

}

span {
  font-size: 40px;
  display: inline-block;
  height: 30px;

}

.price {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #555452;
  padding-bottom: 20px;
}

.tag {
  background-color: blue;
  color: rgb(232, 226, 226);
  font-weight: bold;
  font-size: small;
  height: 30px;
  padding-top: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
}

.item:hover{
 
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
}

.item:hover *{
  color:white;
}